@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="uk">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>title</title>
</head>
<body class="d-flex align-items-center align-content-center">
    <p class="display-5">Hello,@Model.FirstName</p>
     <div class=" text-center gap-0">
                   <a asp-controller="Home" asp-action="Index" class="ms-3 btn btn-outline-primary">Повернутися до головної сторінки</a>
               </div>
</body>
</html>